.header {
	display: flex;
	flex-direction: column;
	height: 40px;
	background-color: #050202;
}
.box {
	flex: 1;
	flex-direction: column;
	height: 400px;
	background-color: #166e7e;
	/* background: white;
	width: 100%;
	height: 400px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	margin: 0 auto; 
	margin-top: 4rem;
	 */
}
.title {
	padding: 2rem;
	font-size: 2.5rem;
	font-weight: 100;
	text-align: center;
	background: #166e7e;
	color: white;
}
.card {
	position: absolute;
	top: 20%;
	
	width: 450px;
	height: 250px;
	background-color: #fff;
	background: linear-gradient(#f8f8f8, #fff);
	box-shadow: 0 8px 16px -8px rgb(0, 0, 0.4);
	border-radius: 6px;
	overflow: hidden;
	margin: 1.5rem;
}

/* 
			<div className="title">
				study
			</div>
			<section className="form-wrapper">
				{form}
			</section>
			<section className="todo-wrapper">
				{children}
			</section> */