/* .header {
	display: flex;
	flex-direction: column;
	height: 200px;
	background: #166e7e;
} */
/* .logo {
	background-image: url(./images/mainIcon.png);
} */
.registerText {
	position: relative;
	left: 900px;
	
}

.loginText {
	position: relative;
	left: 1000px;
}